/* 
Might be useful:

https://www.reddit.com/r/FirefoxCSS/comments/elxyng/ff_72_broke_my_userchrome_css_rule_for_the/
https://www.reddit.com/r/FirefoxCSS/comments/elgzdi/autohide_scrollbar_and_address_bar_broken_in/fdiakau/
*/

/*
https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_bookmarks_toolbar.css
*/
#PersonalToolbar{
  --uc-bm-height: 20px; /* Might need to adjust if the toolbar has other buttons */
  --uc-bm-padding: 3px; /* Vertical padding to be applied to bookmarks */
}

:root[uidensity="compact"] #PersonalToolbar{ --uc-bm-padding: 1px }
:root[uidensity="touch"] #PersonalToolbar{ --uc-bm-padding: 6px }

#PersonalToolbar:not([customizing]){
	margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
	transform: rotateX(90deg);
	transform-origin: top;
	transition: transform 150ms linear 200ms !important;
  z-index: 1;
}
#PlacesToolbarItems > .bookmark-item{ padding-block: var(--uc-bm-padding) !important; }

/* SELECT BOOKMARKS TOOLBAR BEHAVIOR */
/* Comment out or delete either one of these to disable that behavior */

/* Show when urlbar is focused */
#nav-bar:focus-within + #PersonalToolbar{
  transition-delay: 0ms !important;
  transform: rotateX(0);
}

/* Show when cursor is over the toolbar area */
#navigator-toolbox:hover > #PersonalToolbar{
	transition-delay: 0ms !important;
	transform: rotateX(0);
}

/*
https://www.reddit.com/r/FirefoxCSS/comments/elgzdi/autohide_scrollbar_and_address_bar_broken_in/fdis069/
*/
#PersonalToolbar:not([customizing]){
  /* -4px for XPS13 Manjaro, 1px for XPS13 Windows */
	margin-bottom: calc(-4px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
	
}


/*
Broken on update to FF72
https://github.com/Timvde/UserChrome-Tweaks/blob/master/toolbars/show-bookmarks-only-on-newtab.css
https://www.reddit.com/r/FirefoxCSS/comments/7evwow/show_bookmarks_toolbar_only_on_new_tab/
*/
/*
#main-window #PersonalToolbar {
    visibility: collapse !important;
}

#main-window[title^="about:newtab"] #PersonalToolbar,
#main-window[title^="New Tab"] #PersonalToolbar,
#main-window[title^="Nightly"] #PersonalToolbar,
#main-window[title^="Mozilla Firefox"] #PersonalToolbar,
#main-window[title^="Firefox"] #PersonalToolbar,
#main-window[title^="新标签页"] #PersonalToolbar,
#main-window[title^="Customize Firefox"] #PersonalToolbar {
    visibility: visible !important;
}
*/
